nav ul,
nav .brand-logo {
  color: #fff;
  font-size: 20px;
  font-weight: 450;
}
.nav-link {
	font-size: 20px;
}
p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #2196f3;
}

.description {
    margin-left: 4rem;
}
.product-title {
    font-size: 16px;
    font-weight: bold;
}
.product-description {
    border-left: 5px solid #0d47a1;
}
footer {
    margin: 0 !important;
    bottom: 0 !important;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.form-group {
	margin-bottom: 20px;
}
textarea.form-control {
	height: auto;
}
.display-block {
	display: block;
}
.message-area .input-group .form-control {
	background-color: #fff;
	border: 1px solid #eaeaea;
	box-shadow: none;
	color: #555;
	display: block;
	font-size: 14px;
	height: 44px;
	margin: 0;
	padding: 6px 12px;
	resize: none;
}
.message-area .input-group .form-control:focus {
	height: 150px;
	transition: all 0.5s ease 0s;
}
.notfound-title {
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}
.notfound-tag-1 {
    font-size: 28px;
    text-transform: uppercase;
    color: #333;
    margin: 10px 30px;
    font-weight: 600;
}

.preloader-wrapper {
    margin: 4rem;
}
.paginate-item {
    margin: 10px;
}